@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "CV Content";
}

<h2>CV Content</h2>

@if (!string.IsNullOrEmpty(ViewBag.CVPath))
{
    <iframe src="@Url.Content(ViewBag.CVPath)" style="width: 100%; height: 600px;"></iframe>
}
else
{
    <p>No CV content available.</p>
}

<!-- Add other HTML elements or styling based on your design requirements -->
