@using Microsoft.AspNetCore.Identity
@using JobTastic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>JobTastic</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicons/favicon.ico">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/css/theme.css" rel="stylesheet" />

</head>


@if (User.IsInRole("Admin")){
    <main class="main" id="top">

        <section class="py-0" id="home">
            <div class="bg-holder d-none d-sm-block" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder d-sm-none" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row align-items-center min-vh-75 min-vh-md-100">
                    <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                        <h1 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Welcome to the <br class="d-block d-lg-none d-xl-block" />admin dashboard</h1>
                        <p class="mb-4 fs-1">Find your websites analytics and enjoy the rich features</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
else if (User.IsInRole("Recruiter"))
{
    <main class="main" id="top">

        <section class="py-0" id="home">
            <div class="bg-holder d-none d-sm-block" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder d-sm-none" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row align-items-center min-vh-75 min-vh-md-100">
                    <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                        <h1 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Welcome to your <br class="d-block d-lg-none d-xl-block" />recruiter feed</h1>
                        <p class="mb-4 fs-1">Post jobs and receive candidates</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
}

else if (User.IsInRole("JobSearcher"))
{
     <main class="main" id="top">
    
      <section class="py-0" id="home">
        <div class="bg-holder d-none d-sm-block" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-sm-none" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center min-vh-75 min-vh-md-100">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
              <h1 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Welcome to your job <br class="d-block d-lg-none d-xl-block" />searcher feed</h1>
              <p class="mb-4 fs-1">Search and apply for jobs at the ease of your home</p>
            </div>
          </div>
        </div>
      </section>
      </main>
}

else
{
    
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
    
      <section class="py-0" id="home">
        <div class="bg-holder d-none d-sm-block" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-sm-none" style="background-image:url(/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center min-vh-75 min-vh-md-100">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
              <h1 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Find your job better <br class="d-block d-lg-none d-xl-block" />and faster</h1>
              <p class="mb-4 fs-1">Find your best job better and faster with Jobest</p>
              <div class="pt-3">
                <form>
                  <div class="input-group w-xl-75 w-xxl-50 d-flex flex-end-center">
                    <input class="form-control rounded-pill shadow-lg border-0" id="formGroupExampleInput" type="text" placeholder="Seacrh by skill, company and job" /><img class="input-box-icon me-2" src="assets/img/illustrations/search.png" width="30" alt="" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="bg-holder" style="background-image:url(/img/illustrations/bg.png);background-position:left top;background-size:initial;margin-top:-180px;">
        </div>
        <!--/.bg-holder-->

            <div class="container" id="aboutUs">
            <div class="row flex-center">
            <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4" src="~/img/illustrations/passion.png" width="450" alt="" /></div>
            <div class="col-md-5 text-center text-md-start">
              <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">Find your passion and<br />achieve success</h6>
              <p class="my-4 pe-xl-8"> find a job that suits your interests and talents. A high salary is not the top priority. Most importantly,You can work according to your heart's desire.</p>
            </div>
          </div>
        </div>
      </section>


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/js/site.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
  

}
