@using Microsoft.AspNetCore.Identity
@using JobTastic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.IsInRole("Admin")){
    <h1>Welcome to Admin Dashboard</h1>
}
else if (User.IsInRole("Recruiter"))
{
    <h1>Welcome to Recruiter Feed</h1>
}
else if (User.IsInRole("JobSearcher"))
{
    <h1>Welcome to your job search Feed</h1>

}
else
{
    <h1>Welcome to your tour</h1>
}
