@using Microsoft.AspNetCore.Identity
@using JobTastic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav ">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item px-2">
            @{
                var user = await UserManager.GetUserAsync(User);
            }
        </li>
        <li class="nav-item px-2">
            <a id="manage" class="nav-link fw-medium active" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.FirstName !</a>

        </li>
        <li class="nav-item px-2">

            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit">Log Out</button>
            </form>
        </li>
    }
    else
    {
            <li class="nav-item px-2"><a class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" aria-current="page" href="/Identity/Account/Register">Register</a></li>
            <li class="nav-item px-2"><a class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" aria-current="page" href="/Identity/Account/Login">Login</a></li>
  
    }
</ul>
